:root {
    --bg-color: rgb(12, 12, 29);
}

body {
    background-color: var(--bg-color);
    position: absolute;
    bottom:0;
    width: 100%;
    /* min-height: 100vh;
    display: flex;
    align-items: end;
    overflow: hidden; */
}



.card {
    animation: pop .5s ease-in-out;
    animation-fill-mode: both;
    transition: opacity 0.5s, transform 0.5s;
    overflow: hidden;
}

@keyframes pop {
    0%{
        margin-top: 0;
        max-height: 0;
        /* opacity:0; */
    }
    100%{
        /* opacity: 1; */
        margin-top:10px;
        max-height: 100px
    }
}

.card.card-left {
    transform: translateX(-3em);
}
.card.card-right {
    transform: translateX(3em);
}